.block {
  display: grid;
  gap: var(--gap-24);
  text-align: center;
}

.link {
  @include flex($justify-content: center, $wrap: wrap);

  gap: var(--gap-4);
  margin-block-end: var(--gap-12);
  font-size: rem(14px);
}
