.block {
  @include size(rem(320px), rem(128px));

  position: relative;
  border-radius: var(--border-radius-default);
  background-color: rgb(var(--material));
  overflow: hidden;

  @include hover {
    &:hover {
      .picture {
        transform: scale(1.01);
      }
    }
  }
}

.link {
  @include size(100%);

  display: block;
}

.picture {
  @include transition;

  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
}

.content {
  @include flex($direction: column);
  @include size(50%, 100%);

  gap: var(--gap-2);
  position: relative;
  padding: var(--gap-12);
}

.button {
  margin-block-start: auto;
}

.title {
  font-size: rem(12px);
  font-weight: var(--typography-bold);
}

.subtitle {
  font-size: rem(14px);
  font-weight: var(--typography-bold);
  color: rgb(var(--yellow));
}

.description {
  font-size: rem(11px);
}
