.block {
  @include flex(center, center);

  inset: 0;
  z-index: $z-index-9;

  &.block {
    position: absolute;
  }

  &.fullscreen {
    position: fixed;
  }
}

.spin {
  --b: 8px;

  aspect-ratio: 1;
  padding: rem(1px);
  border-radius: 50%;
  width: rem(50px);
  background: conic-gradient(transparent 10%, rgb(var(--link)), rgb(var(--black))) content-box;
  mask:
    repeating-conic-gradient(transparent 0deg, rgb(var(--link)) 1deg 20deg, transparent 21deg 36deg),
    radial-gradient(farthest-side, transparent calc(100% - var(--b) - 1px), rgb(var(--black)) calc(100% - var(--b)));
  mask-composite: intersect;
  animation: spin 1s infinite steps(10);
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}
