.block {
  position: relative;
  padding-block-end: rem(44px);
  border-radius: var(--border-radius-default);
  background-color: rgb(var(--material));
  overflow: hidden;

  &.disable {
    .picture {
      opacity: 0.7;
    }
  }
}

.content {
  display: grid;
  gap: var(--gap-default);
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  padding: 0 var(--gap-12) var(--gap-12);
  background-color: rgb(var(--black));
  z-index: $z-index-1;

  &::before {
    position: absolute;
    inset-block-end: 100%;
    inset-inline: 0;
    height: rem(24px);
    background: linear-gradient(to top, rgb(var(--black)), transparent);
    pointer-events: none;
    content: '';
  }
}

.info {
  position: absolute;
  inset-block-start: var(--gap-12);
  inset-inline: var(--gap-12);
}

.picture {
  aspect-ratio: 0.79;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: rem(14px);
  font-weight: var(--typography-bold);
  line-height: 1.2;
}
