.block {
  --slide-width: 100%;
  --slide-spacing: var(--gap-default);
  --slide-count: 3;

  @include flex(center, null, column);

  // padding: var(--gap-32) var(--gap-16);
  // gap: var(--gap-16);
  gap: var(--gap-12);
  position: relative;
  padding: var(--gap-16);
  border-radius: var(--border-radius-4);
  width: rem(328px);
  background-color: rgb(var(--material));
  background-position: 0 0, 100% 0;
  background-size: rem(600px);
  overflow: hidden;
  background-repeat: no-repeat;

  &.extended {
    @include tab-s {
      --slide-count: 4;
    }

    @include tab-m {
      --slide-count: 5;
    }

    @include tab-l {
      --slide-count: 6;
    }

    width: 100%;

    @include desk-s {
      display: grid;
      grid-template-columns: auto auto 1fr;
      grid-template-rows: rem(33px) auto auto auto;
      background-size: rem(1152px);
    }

    .logo {
      @include desk-s {
        margin-inline-start: 0;
      }
    }

    .info {
      @include desk-s {
        grid-column: 3;
        grid-row: 1;
        margin-block-start: var(--gap-24);
        text-align: end;
      }
    }

    .total {
      @include desk-s {
        grid-column: 2;
        grid-row: 1 / 3;
      }
    }

    .slider {
      @include desk-s {
        grid-column: 1 / -1;
        grid-row: 4;
      }
    }

    .eligible {
      @include desk-s {
        grid-area: 2 / 3;
        justify-content: end;
        align-self: baseline;
        margin-inline-end: 0;
      }
    }
  }
}

.logo {
  @include size(rem(164px), rem(64px));

  grid-row: 1 / 3;
  position: relative;
  margin-inline: auto;
  align-self: center;
}

.info {
  font-size: rem(12px);
  text-align: center;
  color: var(--sub-text);
}

.total {
  @include flex(space-between, center, column);

  padding: var(--gap-default);
  border-radius: var(--border-radius-6);
  min-width: rem(296px);
  background-color: rgb(var(--material-hover));
}

.slide {
  padding-inline-end: var(--slide-spacing);
  flex: 0 0 calc((var(--slide-width) + var(--slide-spacing)) / var(--slide-count));
  max-width: calc((var(--slide-width) + var(--slide-spacing)) / var(--slide-count));

  &:last-child {
    padding-inline-end: 0;
    flex: 0 0 calc(((100% + var(--slide-spacing)) / var(--slide-count)) - var(--slide-spacing));
    max-width: calc(((100% + var(--slide-spacing)) / var(--slide-count)) - var(--slide-spacing));
  }
}

.label {
  font-size: rem(12px);
}

.number {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  font-size: rem(32px);
}

.amount {
  @include flex(null, baseline);

  gap: var(--gap-default);
  line-height: 1.2;
}

.currency {
  font-size: rem(20px);
  color: var(--sub-text);
}

.eligible {
  @include flex(null, center);

  order: 1;
  margin-inline: auto;
}

.badge {
  margin-inline-end: var(--gap-default);
}
