.block {
  position: relative;
  min-width: rem(260px);

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.chosen {
    .label {
      transform: translateY(rem(-22px));
      font-size: rem(10px);
      color: rgb(var(--text-for-material));
    }
  }

  &.active {
    .selected {
      background-color: var(--primary);

      svg {
        transform: rotateZ(180deg);
      }
    }
  }

  &.chosen,
  &.active {
    .selected {
      background-color: var(--primary);
      border-bottom-color: rgb(var(--link));
    }
  }

  &.error {
    .label {
      color: rgb(var(--red));
    }

    .selected {
      border-bottom-color: rgb(var(--red));
    }
  }

  &:not(.error, .disabled) {
    @include hover {
      &:hover {
        .selected {
          border-bottom-color: rgb(var(--link));
        }
      }
    }
  }
}

.label {
  @include transition;

  position: absolute;
  inset-block-start: var(--gap-16);
  inset-inline-start: var(--gap-12);
  pointer-events: none;
  font-size: rem(14px);
  color: var(--sub-text);

  span {
    margin-inline-start: var(--gap-4);
    color: rgb(var(--red));
  }
}

.selected {
  @include size(100%, rem(48px));
  @include flex(space-between, center);

  padding-block-start: var(--gap-2);
  padding-inline: var(--gap-12);
  border-radius: var(--border-radius-6);
  background-color: var(--primary-disabled);
  border-bottom: rem(2px) solid var(--primary);
  white-space: nowrap;

  svg {
    color: rgb(var(--text-for-material));
  }
}

.dropdown {
  position: absolute;
  inset-block-start: calc(100% + var(--gap-default));
  inset-inline: 0;
  border-radius: var(--border-radius-10);
  background-color: rgb(var(--material));
  box-shadow: var(--box-shadow-default);
  z-index: $z-index-1;
}

.header {
  @include flex(space-between, center);

  padding: var(--gap-default);
  font-size: rem(14px);
  color: rgb(var(--text-for-material));
  border-bottom: rem(1px) solid var(--primary-hover);

  &.current {
    span {
      color: rgb(var(--link));
    }
  }

  span {
    text-transform: capitalize;
  }
}

.weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-block-start: var(--gap-default);
  padding-inline: var(--gap-default);
  font-size: rem(11px);
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--gap-2);
  padding: var(--gap-default);
}

.empty {
  height: rem(32px);
}

.day {
  @include flex(center, center);

  border-radius: var(--border-radius-4);
  height: rem(32px);
  transition: background-color 0.15s ease;
  font-size: rem(13px);
  color: rgb(var(--text-for-material));
  cursor: pointer;

  @include hover {
    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &.range {
    background-color: var(--primary);
  }

  &.active {
    background-color: rgb(var(--link));
  }

  &.today {
    border: rem(1px) solid rgb(var(--link));
  }
}
