.block {
  position: relative;
  aspect-ratio: 2.5;
  border-radius: var(--border-radius-default);
  background-color: rgb(var(--material));
  overflow: hidden;

  &.disable {
    .picture {
      opacity: 0.4;
    }
  }
}

.content {
  display: grid;
  gap: var(--gap-default);
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  padding: var(--gap-12);
  z-index: $z-index-1;
}

.info {
  position: absolute;
  inset-block-start: var(--gap-default);
  inset-inline-end: var(--gap-default);
}

.picture {
  height: 100%;
  object-fit: cover;
}

.title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-default);
  min-height: rem(32px);
  font-size: rem(14px);
  font-weight: var(--typography-bold);
  line-height: 1.2;
}
