@mixin absolute-filled {
  position: absolute;
  inset: 0;
}

@mixin absolute-center($args...) {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%) $args;
}

@mixin absolute-center-left($args) {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: $args;
  transform: translateY(-50%);
}

@mixin absolute-center-right($args) {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: $args;
  transform: translateY(-50%);
}

@mixin absolute-center-top($args) {
  position: absolute;
  inset-block-start: $args;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-bottom($args) {
  position: absolute;
  inset-block-end: $args;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}
