.block {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-12);
  padding: var(--gap-default) var(--gap-12);
  border: rem(1px) solid var(--primary-hover);
  border-radius: var(--border-radius-10);
  background-color: rgb(var(--material));

  @include hover {
    &:hover {
      background-color: rgb(var(--material-hover));

      .image {
        transform: scale(1.1);
      }
    }
  }
}

.image {
  @include transition;
  @include size(rem(56px));
}
