.block {
  @include flex(center, center, column);

  gap: var(--gap-4);
  position: relative;
  aspect-ratio: 1 / 1.12;
  border: rem(1px) solid var(--primary);
  border-radius: var(--border-radius-10);
  background-color: rgb(var(--material));
  background-position: 50%;
  background-size: 100%;
  overflow: hidden;
  font-family: var(--font-family-alt), sans-serif;
  font-size: rem(14px);
  text-transform: uppercase;

  &::after {
    position: absolute;
    inset: 0;
    background-color: rgb(var(--material));
    opacity: 0.65;
    content: '';
  }

  @include hover {
    &:hover {
      background-size: 105%;
    }
  }

  * {
    position: relative;
    z-index: $z-index-1;
  }
}
