.block,
.wrapper,
.levels {
  display: grid;
  gap: var(--gap-16);
}

.wrapper {
  margin-inline: auto;
  width: 100%;
  max-width: rem(800px);
}

.levels {
  display: grid;
  gap: var(--gap-16);
  position: relative;
  padding-inline-start: rem(50px);
}

.level {
  --status-color: var(--brand-hover);
  --line-color: rgb(var(--brand-hover));

  @include flex($direction: column);

  gap: var(--gap-default);
  position: relative;
  padding: var(--gap-16);
  border: rem(1px) solid rgb(var(--material-hover));
  border-radius: var(--border-radius-default);
  background-color: rgb(var(--material));
  opacity: 0.6;
  font-size: rem(14px);
  border-inline-start-width: rem(3px);
  border-inline-start-color: currentcolor;
  pointer-events: none;
  color: rgb(var(--level-color));

  &::before {
    position: absolute;
    inset-block: 0;
    inset-inline-start: rem(-36px);
    width: rem(2px);
    background: var(--line-color);
    content: '';
  }

  &.passed {
    --status-color: var(--green);

    opacity: 1;
  }

  &.active {
    --status-color: var(--red);

    opacity: 1;
    pointer-events: auto;

    .circle {
      box-shadow: 0 0 rem(14px) rgb(var(--level-color) / 70%);
    }
  }

  &-1 {
    --level-color: var(--red);

    &.passed {
      --line-color: linear-gradient(to bottom, rgb(var(--level-color)), rgb(var(--amber)));
    }
  }

  &-2 {
    --level-color: var(--amber);

    &.passed {
      --line-color: linear-gradient(to bottom, rgb(var(--level-color)), rgb(var(--green)));
    }
  }

  &-3 {
    --level-color: var(--green);

    &::before {
      display: none;
    }

    .list {
      grid-template-columns: 1fr;
    }
  }
}

.circle {
  @include flex(center, center);
  @include size(rem(30px));

  position: absolute;
  inset-block-start: 0;
  inset-inline-start: rem(-50px);
  border-radius: 50%;
  background-color: currentcolor;

  span {
    color: rgb(var(--text-for-material));
  }
}

.header {
  @include flex(space-between, center);
}

.footer {
  margin-block-start: auto;
}

.status {
  @include flex(center, center);
  @include size(fit-content, rem(24px));

  gap: var(--gap-4);
  position: relative;
  padding-inline: var(--gap-default);
  border: rem(1px) solid rgb(var(--status-color));
  border-radius: var(--border-radius-full);
  background-color: rgb(var(--status-color) / 20%);
  overflow: hidden;
  font-size: rem(12px);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: rgb(var(--status-color));
}

.text,
.label,
.disabled {
  color: rgb(var(--text-for-material));
}

.disabled {
  font-size: rem(12px);
  color: var(--text-for-material-disabled);
}

.list {
  display: grid;
  gap: var(--gap-default);

  @include tab-s {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-default);
  padding: var(--gap-default);
  border: rem(1px) solid var(--primary);
  border-radius: var(--border-radius-10);
  background-color: var(--primary-disabled);
  font-size: rem(14px);
}

.icon {
  @include size(rem(32px));
  @include flex(center, center);

  border-radius: 50%;
  background-color: rgb(var(--level-color) / 20%);
}

.info {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--gap-12);
  padding: var(--gap-12);
  border: rem(1px) solid var(--primary);
  border-radius: var(--border-radius-default);
  background-color: rgb(var(--material));
  overflow: hidden;

  span {
    @include flex(center, center);
    @include size(rem(40px));

    border-radius: 50%;
    background-color: var(--material-disabled);
    color: rgb(var(--link));
  }

  p {
    &:last-child {
      font-size: rem(14px);
    }
  }

  @include hover {
    &:hover {
      background-color: rgb(var(--material-hover));
      border-color: rgb(var(--link));
    }
  }
}
