.block {
  width: 100%;

  &.active {
    .label {
      border-bottom-color: rgb(var(--link));
    }
  }
}

.input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.label {
  @include flex(center, center);
  @include transition;

  gap: var(--gap-default);
  position: relative;
  padding-inline: var(--gap-24);
  border-radius: var(--border-radius-6);
  min-width: rem(100px);
  height: rem(48px);
  background-color: var(--primary);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  border-bottom: rem(2px) solid var(--primary);

  @include hover {
    &:hover {
      border-bottom-color: rgb(var(--link));
    }
  }
}

.previews {
  @include flex($direction: column);

  gap: var(--gap-default);
  margin-block-start: var(--gap-12);
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-12);
  width: 100%;
}

.preview {
  flex-shrink: 0;
  position: relative;
  width: fit-content;
}

.media {
  @include size(rem(80px));

  position: relative;
  border: rem(1px) solid rgb(var(--link));
  border-radius: var(--border-radius-6);
  background-color: var(--primary);
  overflow: hidden;
}

.img {
  height: 100%;
  object-fit: cover;
}

.close {
  position: absolute;
  inset-block-start: rem(-4px);
  inset-inline-end: rem(-4px);
}
