.block {
  position: relative;
  border-radius: var(--border-radius-default);
  min-height: rem(150px);
  background-color: rgb(var(--material));
  overflow: hidden;
}

.wrapper {
  @include size(100%);

  display: grid;
  align-items: center;
  gap: var(--gap-32);
  position: relative;
  padding: var(--gap-16);
  background-color: inherit;

  @include tab-s {
    grid-template-columns: 1fr 1fr;
  }
}

.picture {
  margin-inline: auto;
  max-width: rem(400px);
  order: 1;

  @include tab-s {
    order: 2;
  }
}

.content {
  @include flex(space-between, center, column);

  gap: var(--gap-2);
  order: 2;
  text-align: center;

  @include tab-s {
    order: 1;
    align-items: start;
    text-align: start;
  }
}

.button {
  @include transition;

  margin-block-start: var(--gap-12);
  min-width: rem(120px);
}

.subtitle {
  color: rgb(var(--yellow));

  @include tab-s {
    font-size: rem(32px);
  }
}

.description {
  font-size: rem(14px);
}
