.block {
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.focused {
    .label {
      transform: translateY(rem(-22px));
      font-size: rem(10px);
      color: rgb(var(--text-for-material));
    }

    .input {
      border-color: rgb(var(--link));
      background-color: var(--primary);
    }
  }

  &.error {
    .label {
      color: rgb(var(--red));
    }

    .input {
      border-color: rgb(var(--red));
    }
  }

  &.password {
    .input {
      padding-inline-end: rem(68px);
    }
  }

  &:not(.error, .disabled) {
    @include hover {
      &:hover {
        .input {
          border-bottom-color: rgb(var(--link));
        }
      }
    }
  }
}

.wrapper {
  @include size(100%, rem(48px));

  position: relative;
}

.label {
  @include transition;

  position: absolute;
  inset-block-start: rem(14px);
  inset-inline-start: var(--gap-12);
  pointer-events: none;
  font-size: rem(14px);
  color: var(--sub-text);

  span {
    margin-inline-start: var(--gap-4);
    color: rgb(var(--red));
  }
}

.input {
  @include transition(border-color);
  @include size(100%);

  padding-inline: var(--gap-12) rem(48px);
  border: 0;
  border-radius: var(--border-radius-6);
  background-color: var(--primary-disabled);
  overflow: hidden;
  font-size: var(--font-size);
  text-align: left;
  border-bottom: rem(2px) solid var(--primary);
}

.message {
  margin-block-start: var(--gap-2);
  font-size: rem(12px);
  text-align: left;

  &.error {
    color: rgb(var(--red));
  }

  &.success {
    color: rgb(var(--green));
  }
}

.options {
  @include flex;

  gap: var(--gap-4);
  position: absolute;
  inset-block: 0;
  inset-inline-end: var(--gap-12);
}

.clear,
.eye {
  flex-shrink: 0;
  width: rem(24px);
}
