.block {
  display: grid;
  align-items: flex-start;
  gap: var(--gap-32);

  @include desk-s {
    grid-template-columns: rem(460px) 1fr;
  }
}

.column {
  display: grid;
  gap: var(--gap-12);
}

.actions {
  @include flex(flex-end);

  gap: var(--gap-12);
}
