.table {
  display: grid;
}

.scroll {
  @include scroll-x;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  gap: var(--gap-2);
  min-width: rem(800px);
  font-size: rem(14px);

  &:not(:last-child) {
    margin-block-end: var(--gap-2);
  }

  &.first {
    .cell {
      background-color: var(--primary-hover);

      &:first-child {
        border-radius: var(--border-radius-8) 0 0;
      }

      &:last-child {
        border-radius: 0 var(--border-radius-8) 0 0;
      }
    }
  }

  &:not(.first) {
    &:last-child {
      .cell {
        &:first-child {
          border-radius: 0 0 0 var(--border-radius-8);
        }

        &:last-child {
          border-radius: 0 0 var(--border-radius-8);
        }
      }
    }
  }

  &.red {
    --row-status-color: rgb(var(--red));
  }

  &.green {
    --row-status-color: rgb(var(--green));
  }
}

.cell {
  @include flex($align-items: center);

  gap: var(--gap-default);
  padding: var(--gap-default);
  background-color: var(--primary-disabled);

  &:nth-child(4),
  &:nth-child(5) {
    color: var(--row-status-color);
  }
}

.stats {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-16);
}

.preview {
  @include flex(center, center);
  @include size(rem(40px));

  border-radius: var(--border-radius-4);
  background-color: rgb(var(--material));
  overflow: hidden;
}

.image {
  padding: 0;
  height: 100%;
}
