.table {
  display: grid;
}

.scroll {
  @include scroll-x;
}

.row {
  display: grid;
  grid-template-columns: rem(80px) rem(160px) repeat(4, 1fr) rem(160px) rem(100px);
  gap: var(--gap-2);
  min-width: rem(1000px);
  font-size: rem(14px);

  &.first {
    .cell {
      background-color: var(--primary-hover);

      &:first-child {
        border-radius: var(--border-radius-8) 0 0;
      }

      &:last-child {
        border-radius: 0 var(--border-radius-8) 0 0;
      }
    }
  }

  &:not(:last-child) {
    margin-block-end: var(--gap-2);
  }

  &:not(.first) {
    &:last-child {
      .cell {
        &:first-child {
          border-radius: 0 0 0 var(--border-radius-8);
        }

        &:last-child {
          border-radius: 0 0 var(--border-radius-8);
        }
      }
    }
  }
}

.cell {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-default);
  padding: var(--gap-default);
  background-color: var(--primary-disabled);
}
