.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-default);

  @include tab-l {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section {
  display: grid;
  align-items: flex-start;
  gap: var(--gap-32);
  min-height: rem(200px);

  @include desk-s {
    grid-template-columns: rem(460px) 1fr;
  }
}

.link {
  @include flex($align-items: center, $direction: column);

  gap: var(--gap-default);
  position: relative;
  padding: var(--gap-default);
  border-radius: var(--border-radius-6);
  background-color: rgb(var(--material-hover));
  font-size: rem(14px);
  color: var(--text-for-material-disabled);

  &.active {
    background-color: rgb(var(--brand));
    color: rgb(var(--text-for-brand));
    pointer-events: none;
  }
}
