.form {
  margin-inline: auto;
  padding: var(--gap-24);
  border-radius: var(--border-radius-16);
  width: 100%;
  background-color: rgb(var(--material));

  @include tab-s {
    max-width: rem(460px);
  }
}
