.block {
  display: grid;
  gap: var(--gap-default);
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap-default);
}

.cell {
  &:nth-child(1) {
    font-size: rem(14px);
    color: var(--text-for-primary-disabled);
  }
}
