.block {
  position: sticky;
  inset-block-start: 0;
  margin-inline: rem(-16px);
  height: var(--header-height);
  background-image: linear-gradient(180deg, rgb(var(--material)) 0%, rgb(var(--bg)) 88%);
  box-shadow: var(--box-shadow-default);
  z-index: $z-index-9;

  @include desk-s {
    margin-inline: 0;
    padding-block: var(--gap-default);
    background: none;
    box-shadow: none;
  }
}

.container {
  @include flex(space-between, center);

  gap: var(--gap-24);
  position: relative;
  margin-inline: auto;
  padding: var(--gap-2) var(--gap-16);
  max-width: var(--max-width);
  height: 100%;

  @include desk-s {
    padding-block: 0;
    border: rem(1px) solid var(--tertiary-disabled);
    border-radius: var(--border-radius-full);
    backdrop-filter: blur(rem(36px));
  }
}

.right,
.wrapper {
  @include flex;

  gap: var(--gap-4);
  position: relative;

  @include tab-s {
    gap: var(--gap-default);
  }
}

.wrapper {
  align-items: center;
}

.right {
  flex-direction: column-reverse;
  align-items: flex-end;

  @include tab-s {
    flex-direction: row;
    align-items: center;
  }
}

.balance {
  @include flex(null, center);

  gap: var(--gap-4);
  overflow: hidden;
  font-size: rem(14px);
  line-height: 1;

  strong {
    @include ellipsis;
  }

  span {
    font-size: rem(12px);
  }
}

.avatar {
  position: relative;
}

.account {
  position: fixed;
  inset-block-end: var(--aside-height);
  inset-inline: 0;
  padding: var(--gap-12) var(--gap-16);
  background-color: rgb(var(--bg));
  border-bottom: rem(1px) solid var(--tertiary-disabled);

  @include desk-s {
    position: static;
    padding: 0;
    border-bottom: 0;
    background-color: transparent;
  }
}
