.section {
  min-height: rem(200px);
}

.verify,
.button,
.action {
  flex-shrink: 0;
}

.wrapper {
  @include flex(null);

  gap: var(--gap-default);
}

.verify {
  @include flex(null, center);

  gap: var(--gap-4);
}

.container {
  display: grid;
  align-items: flex-start;
  gap: var(--gap-32);

  @include desk-s {
    grid-template-columns: rem(460px) 1fr;
  }
}

.grid {
  display: grid;
  gap: var(--gap-12);
}

.row {
  display: grid;
  align-items: flex-start;
  gap: var(--gap-default);

  &.count-0,
  &.count-2 {
    grid-template-columns: 1fr auto;
  }

  &.count-1 {
    grid-template-columns: 1fr;
  }
}

.field {
  flex-grow: 1;
}

.verify {
  padding-top: var(--gap-12);
  font-size: rem(13px);
  color: rgb(var(--green));
}

.content {
  display: grid;
  gap: var(--gap-4);
}

.label {
  font-size: rem(12px);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-12);
}
