.list {
  --promo-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--promo-count), 1fr);
  gap: var(--gap-default);

  @include mob-m {
    --promo-count: 2;
  }

  @include tab-s {
    --promo-count: 3;
  }

  @include desk-s {
    --promo-count: 4;
  }
}
