:root {
  --tg-safe-top: env(safe-area-inset-top, 0px);
  --tg-safe-bottom: env(safe-area-inset-bottom, 0px);
  --tg-viewport-height: 100lvh;
  --white: 255 255 255;               // #FFF
  --black: 0 0 0;                     // #000
  --brand: 3 70 89;                   // #034659
  --brand-hover: 3 76 93;             // #034C5D
  --brand-disabled: rgb(21 120 106 / 30%);
  --text-for-brand: var(--white);     // #FFF
  --text-for-brand-disabled: rgb(var(--white) / 24%);
  --primary: rgb(var(--brand-hover) / 60%);
  --primary-hover: rgb(3 113 131 / 45%);
  --primary-disabled: rgb(var(--brand-hover) / 35%);
  --text-for-primary: var(--white);   // #FFF
  --text-for-primary-disabled: rgb(var(--white) / 40%);
  --link: 4 144 168;                  // #0490A8
  --link-hover: 3 111 130;            // #036F82
  --link-disabled: rgb(var(--link) / 40%);
  --material: 0 20 22;                // #001416
  --material-hover: 3 60 67;          // #033c43
  --material-disabled: rgb(3 70 89 / 35%);
  --text-for-material: var(--white);  // #FFF
  --text-for-material-disabled: rgb(var(--white) / 40%);
  --tertiary: var(--white);           // #FFF
  --tertiary-hover: rgb(var(--white) / 32%);
  --tertiary-disabled: rgb(var(--white) / 10%);
  --sub-text: rgb(var(--white) / 68%);
  --bg: 3 27 31;                      // #031b1f
  --amber: 255 162 56;                // #FFA238
  --yellow: 255 225 0;                // #FFE100
  --green: 0 168 87;                  // #00A857
  --red: 229 57 53;                   // #E53935
  --blue: 10 137 209;                 // #0A89D1
  --max-width: 90rem;
  --min-width: 22.5rem;
  --font-size: 16px;
  --line-height: 1.5;
  --typography-regular: 400;
  --typography-bold: 700;
  --gap-default: 0.5rem;
  --gap-2: 0.125rem;
  --gap-4: 0.25rem;
  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-12: 0.75rem;
  --gap-16: 1rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;
  --gap-40: 2.5rem;
  --gap-62: 3.875rem;
  --border-radius-default: 0.5rem;
  --border-radius-2: 0.125rem;
  --border-radius-4: 0.25rem;
  --border-radius-6: 0.375rem;
  --border-radius-8: 0.5rem;
  --border-radius-10: 0.625rem;
  --border-radius-16: 1rem;
  --border-radius-full: 62.5rem;
  --box-shadow-default: 0 0 0.25rem 0 rgb(0 0 0 / 32%), 0 0.375rem 0.5rem 0 rgb(0 0 0 / 20%);
  --header-height: 4.375rem;
  --aside-height: calc(3.5rem + var(--tg-safe-bottom));
}

[data-theme='violette'] {
  --brand: 151 25 90;                        // #97195A
  --brand-hover: 190 18 112;                 // #BE1270
  --brand-disabled: rgb(180 21 106 / 24%);
  --text-for-brand: var(--white);            // #FFF
  --text-for-brand-disabled: rgb(var(--white) / 24%);
  --primary: rgb(78 58 67 / 64%);
  --primary-hover: rgb(78 58 67 / 88%);
  --primary-disabled: rgb(78 58 67 / 40%);
  --text-for-primary: var(--white);          // #FFF
  --text-for-primary-disabled: rgb(var(--white) / 40%);
  --link: 240 112 166;                       // #F070A6
  --link-hover: 234 83 152;                  // #EA5398
  --link-disabled: rgb(234 83 152 / 40%);    // #FBB2CD
  --material: 42 18 28;                      // #2A121C
  --material-hover: 62 40 49;                // #3E2831
  --material-disabled: 62 40 49;             // #3E2831
  --text-for-material: var(--white);         // #FFF
  --text-for-material-disabled: rgb(var(--white) / 40%);
  --tertiary: var(--white);                  // #FFF
  --tertiary-hover: rgb(var(--white) / 32%);
  --tertiary-disabled: rgb(var(--white) / 10%);
  --sub-text: rgb(var(--white) / 68%);
  --bg: 13 5 9;                              // #0d0509
}

* {
  box-sizing: border-box;
  user-select: none;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  padding-block-start: var(--tg-safe-top);
  height: 100%;
  background-color: rgb(var(--bg));
  overflow: hidden;
}

body {
  @include scroll-y;

  margin: 0;
  padding-inline: var(--gap-16);
  min-width: var(--min-width);
  height: calc(100lvh - var(--tg-safe-top));
  overflow-x: hidden;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--typography-regular);
  line-height: var(--line-height);
  color: rgb(var(--text-for-material));
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    padding: 0;
    appearance: none;
  }

  &:is(:-webkit-autofill, :autofill),
  &:is(:-webkit-autofill, :autofill):hover,
  &:is(:-webkit-autofill, :autofill):focus,
  &:is(:-webkit-autofill, :autofill):active {
    background-color: transparent!important;
    box-shadow: 0 0 0 rem(30px) rgb(var(--material-hover)) inset !important;
    -webkit-text-fill-color: rgb(var(--text-for-material));
    background-clip: text;
  }

  &::-webkit-contacts-auto-fill-button,
  &::-webkit-caps-lock-indicator,
  &::-webkit-credentials-auto-fill-button,
  &::-webkit-strong-password-auto-fill-button {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  &::-webkit-datetime-edit,
  &::-webkit-datetime-edit-fields-wrapper,
  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    opacity: 1 !important;
    color: rgb(var(--text-for-material)) !important;
  }

  &[type='datetime-local'],
  &[type='date'] {
    width: 100%;
    font-family: sans-serif;
    appearance: none;
    direction: ltr;

    &::-webkit-date-and-time-value {
      text-align: left;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
    }
  }

  &:focus {
    outline: 0;
  }
}

button,
a {
  @include transition;
}

button {
  @include reset-button;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
button,
input {
  color: inherit;

  &:focus {
    outline: none;
  }
}

hr {
  @include size(100%, rem(1px));

  display: block;
  margin-block: 0;
  padding-block: 0;
  border: 0;
  background-color: var(--primary-hover);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  @include reset-list;
}

li {
  list-style: none;
}

picture,
img {
  @include size(100%, auto);

  display: block;
  object-fit: contain;
  object-position: center;
  content-visibility: auto;
}

input,
textarea {
  caret-color: currentcolor;

  &::placeholder {
    color: rgb(var(--text-for-material));
  }

  &:-webkit-autofill {
    caret-color: rgb(var(--text-for-material))!important;
  }
}

svg {
  &:focus {
    outline: 0;
  }
}

menu {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-alt);
  font-weight: var(--typography-regular);
  text-transform: uppercase;
  font-optical-sizing: auto;
  font-style: normal;
  filter: drop-shadow(rem(1px) rem(2px) 0 rgb(var(--material-hover)));
}

h1 {
  font-size: rem(32px);
}

h2 {
  font-size: rem(20px);
}

h3 {
  font-size: rem(18px);
}

h4 {
  font-size: rem(16px);
}

h5 {
  font-size: rem(14px);
}

h6 {
  font-size: rem(12px);
}

main {
  display: grid;
  gap: var(--gap-16);
  position: relative;
  margin-inline: auto;
  padding-block: var(--gap-16);
  width: 100%;
  max-width: var(--max-width);
  min-height: calc(var(--screen-height, 100lvh) - var(--header-height));

  @include desk-s {
    padding-block-end: var(--gap-62);
    grid-template-columns: rem(240px) 1fr;
  }
}

section {
  position: relative;
}

.Toastify__toast-container--top-right,
.Toastify__toast-container--top-left,
.Toastify__toast-container--top-center {
  --toastify-toast-top: calc(var(--tg-safe-top) + var(--gap-default));
  --toastify-toast-right: var(--gap-default);

  top: var(--toastify-toast-top) !important;
  transform: none !important;
}
