.block {
  @include flex($align-items: center);

  gap: var(--gap-default);
  position: relative;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input {
  @include size(0);

  position: absolute;
  opacity: 0;

  &:checked ~ .item {
    background-color: var(--primary-disabled);

    &::after {
      transform: translateX(22px);
    }
  }
}

.item {
  @include size(rem(50px), rem(28px));
  @include transition(background-color);

  position: relative;
  border-radius: rem(50px);
  background-color: var(--primary);
  cursor: pointer;

  &::after {
    @include transition(transform);
    @include size(rem(24px));

    position: absolute;
    inset-block-start: rem(2px);
    inset-inline-start: rem(2px);
    border-radius: 50%;
    background: rgb(var(--link));
    content: '';
  }
}

.label {
  margin-inline-start: rem(3px);
  color: rgb(var(--red));
}
